*{margin: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

h1>a {
    color: yellow;
    text-decoration: none;
}

header {
    width:100%;
    font-family: Arial, sans-serif;
    justify-content: space-around;
    height: 60px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    background-color: #333;
    align-items: center;
    color: yellow;
}

nav ul {
    padding: 0px 15px;
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.search input {
    width: 300px;
    height: 30px;
    padding: 5px;
    font-size: 16px;

}

.search {
    gap: 5px;
    padding: 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button {
    background-color: yellow;
    border-radius: 10px;
}